@use "variables" as var;
@use "bootstrap" as bs;

@use "~@fortawesome/fontawesome-free/scss/fontawesome";
@use "~@fortawesome/fontawesome-free/scss/solid";
@use "~@fortawesome/fontawesome-free/scss/brands";
@use "~@fortawesome/fontawesome-free/scss/regular";

//
// Base
//
html,
body,
#app {
  height: 100%;
  width: 100%;
}

var {
  font-weight: normal;
  font-style: normal;
}

#studio {
  #mortise {
    .hstack {
      min-height: bs.$form-floating-height;
      align-items: unset;

      &.hover {
        border: 2px solid bs.$light;
        border-style: dashed;
        background-color: var.$dnd-row-hover;
      }
    }

    .col {
      &.dragging,
      &.hover {
        border: 2px solid bs.$light;
        border-style: dashed;
        background-color: var.$dnd-col-hover;
      }
    }

    &.hover {
      border: 2px solid bs.$light;
      border-style: dashed;
      background-color: var.$dnd-row-hover;
    }
  }

  .row + .row {
    margin-top: map-get(bs.$spacers, 2);
  }
}

#source {
  min-height: 100%;
  min-width: 100%;
}

//
// Overrides
//

.border-radius-0 {
  border-radius: 0;
}

.text-nospace {
  font-size: 0;
}

.text-shadow {
  text-shadow: var.$text-shadow;
}

.text-justified {
  text-align: justify !important;
}

.tooltip {
  z-index: bs.$zindex-toast + 1;
}

//
// Custom Classes
//

.btn-obs {
  @include bs.button-variant(
    // Background
    bs.$input-bg,
    // Border color
    bs.$input-border-color,
    // Text color
    bs.$body-color,
    // Hover: Background
    bs.$obs-bg,
    // Hover: Border color
    bs.$obs-bg,
    // Hover: Text color
    bs.$body-color,
    // Active: Background
    bs.$obs-bg,
    // Active: Border color
    bs.$obs-bg,
    // Active: Text color
    bs.$body-color,
    // Disabled: Background
    bs.$obs-bg,
    // Disabled: Border color
    bs.$obs-bg,
    // Disabled: Text color
    bs.$body-color
  );
}

.btn-outline-obs {
  @include bs.button-outline-variant(
    // Text color
    bs.$obs-bg,
    // Hover: Text color
    bs.$body-color,
    // Active: Background color
    bs.$obs-bg,
    // Active: Border color
    bs.$obs-bg,
    // Active: Text Color
    bs.$body-color
  );
}

.text-prewrap {
  white-space: pre-wrap;
}

.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(bs.$gray-600, 0.6);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
}
