@use "variables" as var;
@use "bootstrap" as bs;

@use "~@fortawesome/fontawesome-free/scss/fontawesome";
@use "~@fortawesome/fontawesome-free/scss/solid";
@use "~@fortawesome/fontawesome-free/scss/brands";
@use "~@fortawesome/fontawesome-free/scss/regular";

//
// Base
//
html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  > nav {
    background: bs.$body-bg;
  }
}

#studio {
  padding-top: calc(3.75rem - 3px);

  .row + .row {
    margin-top: map-get(bs.$spacers, 2);
  }
}

#source {
  height: 1080px;
  width: 1920px;
}

button,
a {
  cursor: pointer;
  text-align: center;

  .await {
    display: none;
  }

  &:disabled,
  &.disabled {
    .await {
      display: inline-block;

      & + i {
        display: none;
      }
    }
  }

  &.no-cursor {
    cursor: auto;
  }

  &:focus {
    box-shadow: none !important;
  }
}

var {
  font-weight: normal;
  font-style: normal;
}

.btn-obs {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: #{bs.$input-bg};
  --bs-btn-border-color: #{bs.$input-border-color};
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: #4f535e;
  --bs-btn-hover-border-color: #4f535e;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: #4f535e;
  --bs-btn-active-border-color: #4f535e;
}

.btn-outline-obs {
  --bs-btn-color: #4f535e;
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-border-color: #4f535e;
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: #4f535e;
  --bs-btn-hover-border-color: #4f535e;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: #4f535e;
  --bs-btn-active-border-color: #4f535e;
}

//
// Overrides
//

.border-radius-0 {
  border-radius: 0;
}

.text-nospace {
  font-size: 0;
}

.text-shadow {
  text-shadow: var.$text-shadow;
}

.text-justified {
  text-align: justify !important;
}

//
// Custom Classes
//

.text-prewrap {
  white-space: pre-wrap;
}

.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(bs.$gray-600, 0.6);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
}
