// Functions
@import "~bootstrap/scss/functions";

// Variable changes
$light: #fffeff;

$body-bg: #2b2e38;
$body-color: $light;

$input-bg: #3c404b;
$input-border-color: #3c404b;
$input-border-width: 2px;
$input-focus-box-shadow: none;
$input-focus-border-color: #63666f;

@import "~bootstrap/scss/variables";

// Map changes

// Brand new helpers

$text-shadow: 0 1px rgb(0 0 0 / 40%);

// Utilities

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
